<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/action.js"></script>

<link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />

<link href="css/adminStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="navbar navbar-fixed-top">
 <div class="container">
	
    <ul class="nav">
      <li ><a href="#"><-- Back To Website</a></li>
      <li class="pull-right"><a href="#">CVs</a></li>
      <li class="active"><a href="#">Jobs</a></li>
    </ul>
  
</div>
</div>
</div>
<div class="container adminContent">
<div class="row">
	<div class="span12"><h2>Manage Jobs</h2></div></div>
    <div class="row">
	<div class="span12">
  <ul class="nav nav-pills">
  <li >
    <a href="#">Add Jobs</a>
  </li>
  <li><a href="#">Clear Jobs</a></li>
  
</ul>
    </div>
    </div>
  <div class="row">
	<div class="span12">
		<table class="table table-bordered" width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>  <td>Job Title</td>
    <td>Company</td>
    <td>Location</td>
    <td>Sunmary</td>
    <td>&nbsp;</td>
        
        </thead>
         
  <tr>
    <td>sdfsdf</td>
    <td>sdfsdf</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#"><i class=" icon-remove-sign"></i>Delete</a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>sadf</td>
    <td>sdf</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>sdf</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>sdf</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>sdf</td>
    <td>sdf</td>
    <td>&nbsp;</td>
  </tr>
</table>

    </div>
    </div>
    <div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
   </div>
</body>
</html>
