<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/action.js"></script>
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />

<link href="css/adminStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="container">
<div class="row loginLogo">
<div class="span4"></div>
<div class="span4"><img src="img/adminLogo.png"></div>
<div class="span4"></div>
</div>
	<div class="row">
    <div class="span4"><br />
</div>
    	<div class="span4" id="login">
        <div>
       </div>
        	<form >
          <fieldset>
            <legend>Sign In</legend>
            <label>Username</label>
            <input type="text" placeholder="Username" class="span4">
            <label>Password</label>
            <input type="Password" placeholder="Password" class="span4">
              <label> </label>
           <button type="submit" class="btn btn-primary">Submit</button>
        
          </fieldset>
</form>

 
        </div>
            <div class="span4"><br />
</div>
    </div>
   </div>
</body>
</html>
