<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script type="text/javascript" src="js/jquery.js"></script>

<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/action.js"></script>
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="header">
<div class="container_16" >
    	<div class="grid_7" >
  <img src="img/binaryConsultLogo.png" alt="Binary Consult" />
    </div>
    <div class="grid_9" id="nav">
    	<ul>
        	<li><a href="#">About</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#" class="bigBtn">Job Search</a></li>
        </ul>
    </div>
</div>
</div>
<div id="banner ">
<div id="rotator"><ul class="bannerPics rotateImg">
    <li  class="show"><img src="img/rp.jpg" /></li> 
    <li  ><img src="img/exect.jpg" /></li>
    <li ><img src="img/manpower.jpg" /></li>
    <li ><img src="img/performanc2.jpg" /></li>
</ul></div>
<div class="clear"><br />
</div>
    <div class="container_16" >
  
        <div class="grid_16">
            <ul class="bannerTxt">
            <li>Recuritment <br />Process</li>
             <li>Executive <br />Search</li>
             <li>Manpower <br />Training</li>
             <li>Performance <br />Appraisal</li>
               <li>Recuritment <br />Process</li>
        </ul>
    </div>
</div>

</div>
<div id="content" class=" homeContent container_16">
<div  id="1" class="grid_4 active 1">
<img src="img/rec.png"/>
<h3>Recuritment <br />Process</h3>
<P>Our recruitment process which is usually deployed to recruit numerous persons at a time can also be tailored to meet a client's specific recruitment </P></div>
<div id="2" class="grid_4 ">
<img src="img/exec.png" /> 
<h3>Executive <br />Search</h3>
<P>Our recruitment process which is usually deployed to recruit numerous persons at a time can also be tailored to meet a client's specific recruitment </P></div>

<div  id="3" class="grid_4 "><img src="img/tranning.png" />
<h3>Manpower <br />Training</h3><P>Our recruitment process which is usually deployed to recruit numerous persons at a time can also be tailored to meet a client's specific recruitment </P></div>

<div  id="4" ="grid_4">
<img src="img/perfomance.png" /><h3>Recuritment <br />Process</h3><P>Our recruitment process which is usually deployed to recruit numerous persons at a time can also be tailored to meet a client's specific recruitment </P></div>

<div class="submitCV grid_16">
	Lets help you find your dream Job <a class=" bigBtn">Submit Your CV</a>
</div></div>
<div id="footer" class="container_16">
<div class="grid_7"><img src="img/footerLogo.png" />
</div>
<div class="grid_9 txt">
© 2006 Binary Consulting Limited, All rights reserved</div>
</div>
</body>
</html>
