<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/action.js"></script>
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="header">
<div class="container_16" >
    	<div class="grid_7" >
  <img src="img/binaryConsultLogo.png" alt="Binary Consult" />
    </div>
    <div class="grid_9" id="nav">
    	<ul>
        	<li><a href="#">About</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#" class="bigBtn">Job Search</a></li>
        </ul>
    </div>
</div>
</div>
<div id="bannerInner">
    <div class="container_16" >
        <div class="grid_16">Services</div>
</div>

</div>

<div id="innerPageContent"> 
<div class="container_16">
<div class="grid_2"><br /></div>
 <div class="grid_12"><h2>Our Management Consultants will provide valuable technical expertise backed by specialist skills in the following specific areas:</h2></div>
  <div class="grid_2"><br /></div>
<div class="clear"><br />
</div>
<div class="grid_2"><br /></div>
<div class="grid_3" ><img src="img/rec.png" /></div>
<div class="grid_10">
<h4>Recuriment Process</h4>
This involves searching for the appropriate caliber of persons to fit into existing vacancies in companies occasioned by recent resignation and or business expansion. This could be through an open selection process or a selective Headhunt and we shall also deploy some aspect of recruitment procedure.</div>
<div class="grid_1"><br /></div>
<div class="clear divider"><br /></div>
<div class="grid_2"><br /></div>
<div class="grid_10 rightRol">
<h4>Recuriment Process</h4>
This involves searching for the appropriate caliber of persons to fit into existing vacancies in companies occasioned by recent resignation and or business expansion. This could be through an open selection process or a selective Headhunt and we shall also deploy some aspect of recruitment procedure.</div>
<div class="grid_2" ><img src="img/rec.png" /></div>

<div class="submitCV grid_16">
	Lets help you find your dream Job <a class=" bigBtn">Submit Your CV</a>
</div></div>
<div id="footer" class="container_16">
<div class="grid_7"><img src="img/footerLogo.png" />
</div>
<div class="grid_9 txt">
© 2006 Binary Consulting Limited, All rights reserved</div>
</div>
</div>

</body>
</html>
